body {
  background-color: #F4F4F4; /*Paper*/
  font-family: 'Lato', sans-serif;
}

.search_form {
  padding-left: 30%;
  padding-top: 30%;
}

.search {
  width: 30%;
  position: absolute;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.result {
  margin: 10px auto;
  padding: 10px;
  border: 3px solid;
  border-radius: 30px;
  border-color: #373737; /*Charcoal*/
}

.result:hover {
  border: 10px solid;
  background-color: #00B4CC;
}

.article__title {
  font-size: 20px;
  font-weight: bold;
}

.article__extract {
  font-size: 14px;
}
