<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>WikiSearch</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/libs/angular.js"></script>
  </head>

  <body>
    <div class="viewer" ng-controller="ViewerController as viewer">
      <form autocomplete="on" ng-submit="viewer.getPages(); viewer.pushKeys();">
        <input
          type="text"
          ng-model="viewer.search"/>
      </form>
      <div ng-repeat="article in viewer.articles">
        <p>
          Title: {{ article.title }}
        </p>
        <p>
          Extract: {{ article.extract }}
        </p>
      </div>

    </div>



    <script src="js/app.js"></script>
    <script src="js/viewer.controller.js"></script>
    <script src="js/viewer.service.js"></script>
  </body>

</html>
